@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="Title">Bienvenidos</h1>
    <p class="Subtitle">A los mejores SuperMarketss</p>
</div>

<div class="imagen-principal">
    <img src="./css/super.png" />
</div>


